.productContainer {
	/*display: flex;*/
	height: auto;
	overflow: auto;
	flex-direction: row;
	/*margin: 10px;*/
	margin:10px 0;
	background-color: #fff;
	border: 1px solid #45454563;
}

.productList {
	display: flex;
	height: auto;
	overflow: auto;
	flex-direction: row;
	margin: 10px 0;
	background-color: #fff;
	/*border: 1px solid #45454563;*/
}

.itemTitle {
	font-size: 25px;
}

.externalLink {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	font-size: 15px;
    color: #0000ff;
    margin: 10px 0;
}
.count {
	font-size: 15px;
}
.menWomenTitleContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}